{% extends 'base.html'%}

{% block title %}
	Edit Post 
{% endblock%}

{% block content %}
	<div class="new_post">
		<form method="POST">
			{% csrf_token%}
            <label for="id_MaPhongBan">Mã Phòng Ban:</label>
            <input type="text"  name="MaPhongBan"  maxlength="20" class="form-control form-control-user" id="exampleFirstName" placeholder="Mã Phòng Ban"><br>
            <label for="id_TenPhongBan">Tên Phòng Ban:</label>
            <input type="text"  name="TenPhongBan" maxlength="200" required="" id="id_TenPhongBan" class="form-control form-control-user" placeholder="Tên Phòng Ban">
            <input type="submit" class="btn btn-primary btn-user btn-block"value="Lưu">
		</form>
	</div>
{% endblock %}